<!DOCTYPE html>
<html>
  <head>

    <meta name="google-site-verification"
          content="435TsjIeOALo1APoSyfv4AICidNBoEw-Ojh3qR9wD8E" />
    
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/news">News</a></li>
<li><a href="/theory">Theory</a></li>
<li><a href="/simulation">Simulation</a></li>
<li><a href="/group">Group</a></li>
<li><a href="/about">About</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:sentball@163.com">email</a></li>
   </ul>
  </footer>
  </body>

</html>
